
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
    background:#E8E8E8;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    font-size: 5em;
    font-family: 'Dancing Script', cursive;
    margin-top: 0 ;
    color: rgb(71, 171, 186);
}
p{
    font-family: 'Merriweather', serif;
    font-size: 1em;
}
h2{
    font-family: 'Comfortaa', cursive;
    font-size: 40px;
    color: rgb(71, 171, 186);
    line-height: 2;
}
h3{
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    color: rgb(71, 171, 186);
}

.top-container{
    background:#E8E8E8;
    position: relative;
    padding-top:100px ;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;

}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.box{
    margin: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;   
    text-align: center;
    align-items: center;
}